In [1]:
import pandas as pd

In [2]:
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import math

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [6]:
file1 = pd.read_csv('marketing_customer_analysis.csv')

In [8]:
file1.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [10]:
columns = list(file1.columns)
print(columns)

['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage', 'Education', 'Effective To Date', 'EmploymentStatus', 'Gender', 'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size']

In [11]:
columns_lower = list(map(lambda x: x.lower(),columns))

In [14]:
columns_lower_underscore = list(map(lambda x: x.replace(' ','_'),columns_lower))
print(columns_lower_underscore)

['customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size']

In [15]:
file1.columns = columns_lower_underscore
file1.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [16]:
data = pd.DataFrame(file1)

In [17]:
data['date'] = pd.to_datetime(data['effective_to_date'],errors = 'coerce')

In [18]:
data['month'] = list(map(lambda x: x.month, data['date']))

In [19]:
data.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,date,month
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2011-02-24,2
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,2011-01-31,1
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,2011-02-19,2
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,2011-01-20,1
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2011-02-03,2

In [50]:
#attempting to split/slice x and y
#x = data.iloc[:, data.columns != 'total_claim_amount']
x = data.iloc[:,0:14] + data.iloc[:,15:]
print(x)

      coverage  customer  customer_lifetime_value  date  education  \
0          NaN       NaN                      NaN   NaN        NaN
1          NaN       NaN                      NaN   NaN        NaN
2          NaN       NaN                      NaN   NaN        NaN
3          NaN       NaN                      NaN   NaN        NaN
4          NaN       NaN                      NaN   NaN        NaN
...        ...       ...                      ...   ...        ...
9129       NaN       NaN                      NaN   NaN        NaN
9130       NaN       NaN                      NaN   NaN        NaN
9131       NaN       NaN                      NaN   NaN        NaN
9132       NaN       NaN                      NaN   NaN        NaN
9133       NaN       NaN                      NaN   NaN        NaN

      effective_to_date  employmentstatus  gender  income  location_code  ...  \
0                   NaN               NaN     NaN     NaN            NaN  ...
1                   NaN               NaN     NaN     NaN            NaN  ...
2                   NaN               NaN     NaN     NaN            NaN  ...
3                   NaN               NaN     NaN     NaN            NaN  ...
4                   NaN               NaN     NaN     NaN            NaN  ...
...                 ...               ...     ...     ...            ...  ...
9129                NaN               NaN     NaN     NaN            NaN  ...
9130                NaN               NaN     NaN     NaN            NaN  ...
9131                NaN               NaN     NaN     NaN            NaN  ...
9132                NaN               NaN     NaN     NaN            NaN  ...
9133                NaN               NaN     NaN     NaN            NaN  ...

      number_of_policies  policy  policy_type  renew_offer_type  response  \
0                    NaN     NaN          NaN               NaN       NaN
1                    NaN     NaN          NaN               NaN       NaN
2                    NaN     NaN          NaN               NaN       NaN
3                    NaN     NaN          NaN               NaN       NaN
4                    NaN     NaN          NaN               NaN       NaN
...                  ...     ...          ...               ...       ...
9129                 NaN     NaN          NaN               NaN       NaN
9130                 NaN     NaN          NaN               NaN       NaN
9131                 NaN     NaN          NaN               NaN       NaN
9132                 NaN     NaN          NaN               NaN       NaN
9133                 NaN     NaN          NaN               NaN       NaN

      sales_channel  state  total_claim_amount  vehicle_class  vehicle_size
0               NaN    NaN                 NaN            NaN           NaN
1               NaN    NaN                 NaN            NaN           NaN
2               NaN    NaN                 NaN            NaN           NaN
3               NaN    NaN                 NaN            NaN           NaN
4               NaN    NaN                 NaN            NaN           NaN
...             ...    ...                 ...            ...           ...
9129            NaN    NaN                 NaN            NaN           NaN
9130            NaN    NaN                 NaN            NaN           NaN
9131            NaN    NaN                 NaN            NaN           NaN
9132            NaN    NaN                 NaN            NaN           NaN
9133            NaN    NaN                 NaN            NaN           NaN

[9134 rows x 25 columns]

In [49]:
#normalize
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(data)
x_normalized = transformer.transform(data)
print(x_normalized.shape)
# pd.DataFrame(x_normalized)

ValueError: could not convert string to float: 'BU79786'